/*
///////////////////////////////////////////////////////
// ----------------------------------------------------
//  ____    ______  __  __                 ___     
// /\  _`\ /\  _  \/\ \/\ \              /'___`\   
// \ \,\L\_\ \ \L\ \ \ \ \ \      __  __/\_\ /\ \  
//  \/_\__ \\ \  __ \ \ \ \ \    /\ \/\ \/_/// /__ 
//    /\ \L\ \ \ \/\ \ \ \_\ \   \ \ \_/ | // /_\ \
//    \ `\____\ \_\ \_\ \_____\   \ \___/ /\______/
//     \/_____/\/_/\/_/\/_____/    \/__/  \/_____/ 
// -----------------------------------------------------      
//  SAU v2 Beta 1 Hecho por Jose de Jesus Herrera Mata
//  http://www.jhcodes.com/ - jesuxherrerajhcodes.com                                  
// -----------------------------------------------------       
////////////////////////////////////////////////////////
*/

.entry:not(:first-of-type)
{
    margin-top: 10px;
}

.glyphicon
{
    font-size: 12px;
}

.buttonBox {
    position: absolute;
    bottom:0;
    right:0;
}
